.main-page {
  display: flex;
  flex-direction: column;
  gap: 10px;

  textarea {
    height: 80px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;

    button {
      width: 75px;
      height: 30px;
      font-size: 16px;
    }
  }
}
